@keyframes bounce {
    0% {
        transform: translate(0, -20px);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0
    }
}

img {
    border-style: none
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText
}

* {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    transition-property: text-decoration, color, background-color, border-color, transform, opacity
}

html,
body {
    font-family: "Muli", "Arial", Sans-Serif;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    margin: 0;
    color: #535763;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    overflow-x: hidden
}

a {
    text-decoration: underline;
    color: currentColor;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent
}

a:hover {
    outline: none;
    -webkit-text-decoration-color: currentColor;
    text-decoration-color: currentColor
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PT Serif", "Times New Roman", Serif
}

::-moz-selection {
    background: #e5e7e9
}

::selection {
    background: #e5e7e9
}

::-moz-selection {
    background: #e5e7e9
}

form {
    position: relative;
    left: 15%;
    width: 100%;
    display: flex;
}

textarea {
    font-size: 16px;
    width: 50%;
    padding: 24px 27px;
    color: #535763;
    border: 1px solid #e7e7e7;
    border-radius: 3px
}

input {
    font-size: 16px;
    width: 100%;
    padding: 20px 20px;
    color: #535763;
    border: 1px solid #e7e7e7;
    border-radius: 3px
}   

input:focus,
input:focus:hover {
    border-color: #014fb0;
    outline: none
}

input:hover {
    border-color: #c3c1c7
}

input[type=text],
input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

button {
    font-size: 16px;
    font-weight: 600;
    padding: 18px 27px;
    color: #fff;
    border: 0;
    border-radius: 3px;
    background-color: #014fb0;
    cursor: pointer;
}

button[type=submit] {
    margin-right: 20px;
    margin-left: 30px;
    height: 60px;
}

button[type=reset] {
    background-color: #dc3545;
    height: 60px;
}

button[type=reset] :hover {
    background-color: #d9534f;
}

button:focus {
    outline: none
}

.wrapper {
    position: relative;
    width: 85%;
    max-width: 760px;
    margin: 0 auto
}

.postlist {
    margin: 0 auto 78px
}

@media (max-width: 720px) {
    .postlist {
        margin: 0 auto 58px
    }
}

@media (max-width: 480px) {
    .postlist {
        margin: 0 auto 48px
    }
}

.postitem {
    position: relative;
    margin: 0 0 68px 0;
    padding: 0 0 68px 0
}

.postitem:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 1px;
    content: '';
    background-color: #e8e8ef
}

.postitem:last-child {
    margin: 0;
    padding: 0
}

.postitem:last-child:after {
    display: none
}

@media (max-width: 720px) {
    .postitem {
        margin: 0 0 48px 0;
        padding: 0 0 48px 0
    }
}

@media (max-width: 480px) {
    .postitem {
        margin: 0 0 38px 0;
        padding: 0 0 38px 0
    }
}

.postitem-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    position: relative;
    margin: 0 0 38px 0;
    color: #1b1c1f
}

.postitem-title a {
    display: block
}

.postitem-title a:before {
    position: absolute;
    top: 18px;
    left: -65px;
    width: 6px;
    height: 6px;
    content: '';
    transition: border 0.2s ease-out, background 0.2s ease-out;
    border: 6px solid #f2f6fa;
    border-radius: 12px;
    background-color: #d2dbe5
}

.postitem-title:hover a {
    -webkit-text-decoration-color: #eee;
    text-decoration-color: #eee
}

.postitem-title:hover a:before {
    border-color: #daeaff;
    background-color: #004eaf
}

@media (max-width: 1080px) {
    .postitem-title a:before {
        display: none
    }
}

@media (max-width: 720px) {
    .postitem-title {
        font-size: 30px;
        line-height: 44px;
        margin: 0 0 32px 0
    }
}

@media (max-width: 480px) {
    .postitem-title {
        font-size: 26px;
        line-height: 38px;
        margin: 0 0 26px 0
    }
}

.postitem-excerpt {
    font-size: 18px;
    line-height: 42px;
    margin: 48px 0 0 0
}

@media (max-width: 720px) {
    .postitem-excerpt {
        font-size: 17px;
        line-height: 34px;
        margin: 38px 0 0 0
    }
}

@media (max-width: 480px) {
    .postitem-excerpt {
        font-size: 16px;
        line-height: 30px;
        margin: 28px 0 0 0
    }
}

.postmeta {
    font-size: 17px;
    color: #98a0b3
}

.postmeta a {
    font-weight: 600;
    color: #014fb0
}

.postmeta a:hover {
    -webkit-text-decoration-color: #e6e6ea;
    text-decoration-color: #e6e6ea
}

.postmeta:after {
    content: '.'
}

@media (max-width: 720px) {
    .postmeta {
        font-size: 15px
    }
}

@media (max-width: 480px) {
    .postmeta {
        font-size: 14px
    }
}

.postmeta-avatar {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 9px 0 6px;
    vertical-align: -6px;
    border-radius: 52px;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 480px) {
    .postmeta-avatar {
        width: 20px;
        height: 20px;
        margin: 0 7px 0 4px
    }
}

.navigation {
    position: relative;
    margin-left: auto
}

.navigation-button {
    width: 41px;
    height: 41px;
    cursor: pointer;
    color: #ccd1db
}

.navigation-button .navigation-icon,
.navigation-button .navigation-icon:after,
.navigation-button .navigation-icon:before {
    width: 30px;
    height: 2px;
    border-radius: 30px
}

.navigation-button .navigation-icon {
    position: relative;
    top: 9px;
    left: 5px;
    transition: all 0ms 300ms, background 0.2s ease-out;
    transform: translateY(9px);
    background: #ccd1db
}

.navigation-button .navigation-icon__active {
    background: rgba(204, 209, 219, 0)
}

.navigation-button .navigation-icon:before,
.navigation-button .navigation-icon:after {
    position: absolute;
    left: 0;
    content: '';
    transition: all 1s ease-out;
    background: #ccd1db;
    will-change: transform
}

.navigation-button .navigation-icon:before {
    bottom: 9px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.2s ease-out
}

.navigation-button .navigation-icon:after {
    top: 9px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.2s ease-out
}

.navigation-button .navigation-icon__active:after {
    top: 0;
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), background 0.2s ease-out;
    transform: rotate(45deg);
    background: #a0a6ad
}

.navigation-button .navigation-icon__active:before {
    bottom: 0;
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transform: rotate(-45deg);
    background: #a0a6ad
}

.navigation-button:hover .navigation-icon,
.navigation-button:hover .navigation-icon:after,
.navigation-button:hover .navigation-icon:before {
    background: #a0a6ad
}

.navigation-button:hover .navigation-icon__active {
    background: rgba(204, 209, 219, 0)
}

.blogtitle:hover .blogtitle-logo {
    transform: scale(0.9)
}

.blogtitle-logo {
    display: block;
    max-width: 300px;
    max-height: 60px
}

.blogtitle-logo img {
    display: block;
    width: auto;
    max-width: inherit;
    max-height: inherit
}

.bloginfo {
    position: -webkit-sticky;
    position: sticky;
    top: 78px;
    width: 100%;
    height: 1px;
}

.bloginfo-inner {
    position: absolute;
    top: 0;
    right: -23.5vw;
    width: 320px
}

.bloginfo-inner:after {
    display: block;
    width: 40%;
    height: 1px;
    content: '';
    background: #e8e8ef
}


.bloginfo .blogtitle {
    font-size: 22px;
    margin: 0 0 28px
}

.bloginfo .blogtitle .blogtitle-logo {
    max-height: 48px;
    margin: 0 0 38px
}

.bloginfo .blogtitle:hover .blogtitle-logo {
    transform: none
}

@media (max-width: 480px) {
    .postmeta .postmeta-author {
        display: none
    }
}

.container {
    display: block;
	position: sticky;
    left: 0%;
    bottom: 0%;
    height: 120px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

label {
    margin-right: 20px;
}


/* ADMIN TABLE STYLES */


table{
    width:100%;
    table-layout: fixed;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
}

.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
  
.bd{
      height: 100vh;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

.datatable{
    margin: 50px;
} 
  /* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
      width: 6px;
} 

::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
  
::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
