<body class="bd">
<div class="datatable">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
          <th>created at</th>
          <th>description</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
          {{#each model as |blog|}}
        <tr>
          <td>{{blog.id}}</td>
          <td >{{input type="text" value=blog.name }}</td>
          <td>{{input type="text" value=blog.createdAt}}</td>
          <td>{{input type="text" value=blog.description}}</td>
          <td>
              <button {{action 'updateBlog'}} style="background-color: #fff; border: 2px solid #4CAF50; color: black; text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px; padding: 10px 15px;">Save</button>

              <button {{action 'destroyBlog'}} style="background-color: #fff; border: 2px solid #f44336; color: black; text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px; padding: 10px 15px;">Delete</button>
          </td>
        </tr>
        <tr>     
        </tr>
        {{/each }}
      </tbody>
    </table>
    </div>
    <table>
        <tr>
            <td style="width: 2%;">{{input type="text" value=name placeholder="name..."}}</td>
            <td style="width: 2%;">{{input type="text" value=description placeholder="description of your data..."}}</td>
            <td style="width: 2%;">
                <button {{action 'createUser'}}
                style="background-color: #fff; border: 2px solid #4CAF50; color: black; text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px; padding: 10px 15px;">
                    Create
                    </button>
                </td>
        </tr>
    </table>
</div>
</body>
{{outlet}}
