<div class="wrapper">
    <main class="page">
        <section class="bloginfo">
            <div class="bloginfo-inner">
                <button {{action "goToAdmin"}} > go To admin</button>
            </div>
        </section>
        {{#each model as |blog|}}
        <section class="postlist">
            <article class="postitem">
                <h2 class="postitem-title">
                    <a>{{blog.name}}</a>
                </h2>
                <div class="postmeta">
                    <span class="postmeta-intro">Posted</span>
                    <span class="postmeta-author">by <a><span class="postmeta-avatar"
                                style="background-image: url('{{blog.avatar}}');"></span>{{blog.name}}</a></span>
                    <span class="postmeta-published">on <a><time>{{format-date blog.createdAt}}</time></a></span>
                </div>
                <p class="postitem-excerpt">{{blog.description}}</p>
            </article>
        </section>
        {{/each}}
    </main>
</div>

<footer class="container">
  <form>
    <label for="name">Key</label>
    <textarea id="name" name="name" placeholder="value of record"></textarea>

    <button type="submit">Save </button>
    <button type="reset" > Cancel </button>
  </form>
</footer>